


#scrolltotop{

    position: fixed;
    right: 1.5vmax;
    bottom: 1vmax;
  
    padding: 1vmax;
    border-radius: 10%;
    background: linear-gradient(180deg,#AA3876,#4A2FBD);
    transition: all 0.3s ease-in-out;
   

}

#scrolltotop:hover{
    transform: scale(1.1);
}